p {
  margin-bottom: 0;
}
li.active {
  pointer-events: none;
  position: relative;
}
li.active a {
  color: white;
}
li.active::after {
  position: absolute;
  content: "";
  bottom: 12px;
  left: 0;
  right: 0;
  height: 1px;
  background: white;
}
li.active.button a {
  background: grey;
  border: 1px solid grey;
}
li.active.button::after {
  display: none;
}
html {
  background: black;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    sans-serif;
}
html *:not(a) {
  color: white;
}
nav ul {
  gap: 0em;
  display: flex;
  align-items: center;
}

nav ul:first-child {
  margin-right: 1em;
}
li.button {
  display: flex;
  align-items: center;
}
.call-button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul:first-of-type {
  margin-left: 0;
}
footer.container {
  padding: 0;
}
h2 {
  margin-bottom: 0.5em;
}
.content a i {
  color: #f8f0fb !important;
}
@media (min-width: 768px) {
  nav ul {
    gap: 1em;
  }
}
